body {
    font-family: "Raleway", sans-serif;
    background-image: url("./../img/bg.jpg");
}

h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.info {
    font-size: 90%;
    line-height: 200%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.progress {
    background-color: #ffffff;
}

a {
    text-decoration: underline;
    color: #f8f9fa;
}

.nav-item{
    padding-left: 0.25em !important;
    padding-right: 0.25rem !important;
}

.nav-link {
    text-decoration: none;
}

.nav-link.active {
    background-color: #9228eb !important;
}

.nav-link:hover {
    background-color: #9228eb !important;
    color: #f8f9fa;
}

.btn {
    color: #f8f9fa;
}

a:hover,
navbar-dark >.btn:hover {
    color: #9228eb;
}

.btn-linkedin {
    background-color: #0e76a8;
    border-color: #0e76a8;
}

.btn-facebook {
    background-color: #4267b2;
    border-color: #4267b2;
}

.btn-instagram {
    background-color: #c13584;
    border-color: #c13584;
}

.btn-gitlab {
    background-color: #fca326;
    border-color: #fca326;
    color: #343a40;
}

.btn-github {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #343a40;
}

.btn-youtube {
    background-color: #ff0000;
    border-color: #ff0000;
}

.btn-medium {
    background-color: #00ab6c;
    border-color: #00ab6c;
}

.btn-skype {
    background-color: #00aff0;
    border-color: #00aff0;
}

@media (min-width: 768px) {
    #inicio {
        margin-top: 12%;
        padding: 5%;
    }

    #habilidades {
        margin-top: 8%;
        padding: 5%;
    }

    #experiencia {
        padding: 1.5%;
    }

    #educacion {
        margin-top: 8%;
        padding: 5%;
    }
}
